.controls {
  display: flex;
  height: 300px;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.powerButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.switch {
  /* color: black;
  background-color: lightgray;
  border-radius: 30px; */
}
.instrumentInfo {
  height: 60px;
  width: 180px;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.instrumentButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.volumeSlider {
  width: 250px;
}

/* Table View */
@media (max-width: 768px) {
  .controls {
    height: 270px;
  }
  .volumeSlider {
    width: 210px;
  }
  .instrumentInfo {
    height: 50px;
    width: 150px;
  }
}

/* Mobile View */
@media screen and (max-width: 414px) {
  .controls {
    height: 250px;
  }
  .volumeSlider {
    width: 150px;
  }
  .instrumentInfo {
    height: 45px;
    width: 120px;
  }
}
