.app {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(212, 212, 212);
}

.app > p {
  color: gray;
  margin-top: 20px;
}

.core {
  background-color: rgb(236, 236, 236);
  width: 660px;
  height: auto;
  border: 10px solid #ffffff;
  display: flex;
  align-items: center;
  padding: 30px 20px;
  border-radius: 5px;
}

.core > div {
  flex-grow: 0.5;
  height: 100%;
  width: 100%;
}

/* Table View */
@media (max-width: 768px) {
  .core {
    width: 400px;
    height: auto;
    border: 6px solid #ffffff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .app {
    font-size: small;
  }
}

/* Mobile View */
@media screen and (max-width: 414px) {
  .core {
    width: 200px;
    height: auto;
    border: 3px solid #ffffff;
  }
  .app {
    font-size: smaller;
  }
}
